.jumbotron {
  background: url() no-repeat center center fixed;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/bakery-front-2.jpeg");
  background-size: cover;
  padding-top: 0;
  margin-bottom: 0;
  height: 500px;
  overflow: hidden;
}

.main-nav {
  background-color: $darkRed;
  padding: 10px 0;
  border-bottom: 2px solid $white;
  // position: sticky;
  // z-index: 999;
}

// Logo Image
.logo {
  max-width: 150px;
  width: 100%;
}

// Profile Image and Text
.profile__container {
  // Profile Image
  .profile-img__box {
    .profile-img {
      width: 100%;
      max-width: 250px;
      border: 2px solid $white;
      border-radius: 50%;
    }
  }

  // Profile Text
  .profile-text__box {
    // background-color: pink;
    color: $white;

    h1 {
      font-size: 2rem;
    }

    // Location: Address, Day-Time
    .location__box {
      margin: 0;

      h5 {
        font-size: $fontSmall;
        text-decoration: underline;
      }

      .location__address,
      .location__day-time {
        font-size: $fontSmall;
        display: none;
      }

      .location__day-time {
        p {
          font-size: $fontExtraSmall;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) {
  // Main Menu
  .main-menu {
    li {
      padding-left: 10px;
      margin-bottom: 10px;
    }
    li.active {
      border-left: 2px solid $white;
    }
    li:hover {
      border-left: 2px solid $offWhite;
      @include hoverTransition;
    }
  }

  // Profile Image and Text
  .profile__container {
    .profile-img__box {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;

      .profile-img {
        max-width: 200px;
      }
    }
    .profile-text__box {
      text-align: center;
    }
  }
}

// Media Query: Tablets and up
@media (min-width: 576px) {
  // Main Menu
  .main-menu {
    li {
      border-bottom: 2px solid transparent;
    }
    li.active {
      border-bottom: 2px solid $white;
    }
    li:hover {
      border-bottom: 2px solid $offWhite;
      @include hoverTransition;
    }
  }

  // Profile Image and Text
  .profile__container {
    margin-top: 2rem; /* Center profile and text in div */

    // Profile Text
    .profile-text__box {
      h1 {
        font-size: 1.5rem;
      }

      // Address, Days, Time
      .location__box {
        .location__address,
        .location__day-time {
          display: block;
        }

        // .location__address {
        //   background-color: yellowgreen;
        // }
        // .location__day-time {
        //   background-color: rgb(205, 115, 50);
        // }
      }
    }
  }
}

// Media Query: Desktop
@media (min-width: 768px) {
  .profile__container {
    // Profile Text
    .profile-text__box {
      // background-color: pink;
      color: $white;

      h1 {
        font-size: $fontLarge;
      }
    }
  }
}

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .profile__container {
//     // Profile Text
//     .profile-text__box {
//       // background-color: pink;
//       color: $white;

//       h1 {
//         font-size: $fontLarge;
//       }
//     }
//   }
// }
