$darkRed: rgb(162, 2, 2);
$white: #fff;
$offWhite: rgba(255, 255, 255, 0.70);
$grey: rgb(241, 241, 241);
$greyDark: rgb(0, 0, 0);
$fontSmall: .8rem;
$fontExtraSmall: .8rem;
$fontLarge: 3rem;
$fontMedium: 1.5rem;