.jumbotron {
  padding: 30px;

  .container {
    background-color: pink;
  }

  .logo__box {
    background-color: lime;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .logo {
    max-width: 150px;
    width: 100%;
  }
}

.navbar {
    .navbar-nav {
        background-color: yellow;
    }
}