.jumbotron {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/bakery-front-2.jpeg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bakery-front-2.jpeg");
  background-size: cover;
  padding-top: 0;
  margin-bottom: 0;
  height: 500px;
  overflow: hidden;
}

.main-nav {
  background-color: #a20202;
  padding: 10px 0;
  border-bottom: 2px solid #fff;
}

.logo {
  max-width: 150px;
  width: 100%;
}

.profile__container .profile-img__box .profile-img {
  width: 100%;
  max-width: 250px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.profile__container .profile-text__box {
  color: #fff;
}

.profile__container .profile-text__box h1 {
  font-size: 2rem;
  text-decoration: underline;
}

.profile__container .profile-text__box .location__box {
  margin: 0;
}

.profile__container .profile-text__box .location__box h5 {
  font-size: 0.8rem;
  text-decoration: underline;
}

.profile__container .profile-text__box .location__box .location__address,
.profile__container .profile-text__box .location__box .location__day-time {
  font-size: 0.8rem;
  display: none;
}

.profile__container .profile-text__box .location__box .location__day-time p {
  font-size: 0.8rem;
}

@media (max-width: 575px) {
  .main-menu li {
    padding-left: 10px;
    margin-bottom: 10px;
  }
  .main-menu li.active {
    border-left: 2px solid #fff;
  }
  .main-menu li:hover {
    border-left: 2px solid rgba(255, 255, 255, 0.7);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .profile__container .profile-img__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1rem;
  }
  .profile__container .profile-img__box .profile-img {
    max-width: 200px;
  }
  .profile__container .profile-text__box {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .main-menu li {
    border-bottom: 2px solid transparent;
  }
  .main-menu li.active {
    border-bottom: 2px solid #fff;
  }
  .main-menu li:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .profile__container {
    margin-top: 2rem;
    /* Center profile and text in div */
  }
  .profile__container .profile-text__box h1 {
    font-size: 1.5rem;
  }
  .profile__container .profile-text__box .location__box .location__address,
  .profile__container .profile-text__box .location__box .location__day-time {
    display: block;
  }
}

@media (min-width: 768px) {
  .profile__container .profile-text__box {
    color: #fff;
  }
  .profile__container .profile-text__box h1 {
    font-size: 3rem;
  }
}

.welcome__box {
  color: white;
}

.welcome__box .card {
  border: none;
}

.welcome__box .btn {
  color: #fff;
}

.welcome__box .card-header {
  background-color: black;
  font-size: 1.5rem;
}

.welcome__box .card-footer {
  background-color: #a20202;
}

.welcome__box .bakery__box {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/menu-bread-splash.jpeg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/menu-bread-splash.jpeg");
  background-size: cover;
  padding-top: 0;
  margin-bottom: 0;
  height: 300px;
  overflow: hidden;
}

.welcome__box .coffee__box {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/coffee-splash.jpeg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/coffee-splash.jpeg");
  background-size: cover;
  padding-top: 0;
  margin-bottom: 0;
  height: 300px;
  overflow: hidden;
}

.welcome__box .catering__box {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/catering_splash.jpeg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/catering_splash.jpeg");
  background-size: cover;
  padding-top: 0;
  margin-bottom: 0;
  height: 300px;
  overflow: hidden;
}

@media (max-width: 575px) {
  .welcome__box .bakery__box,
  .welcome__box .coffee__box {
    margin-bottom: 1.5rem;
  }
}

.gallery__container .card-body {
  height: 300px;
  background-color: #a20202;
}

.gallery__container .gallery__img-box {
  width: 100%;
  height: 100%;
}

.gallery__container .gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 575px) {
  .gallery {
    margin-bottom: 1.5rem;
  }
}

.menu__title {
  font-size: 4rem;
}

.menu__box img {
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__box .price {
  font-size: 0.8rem;
  font-weight: lighter;
}

#map {
  width: 100%;
  height: 300px;
  border: 2px solid #a20202;
  overflow: hidden;
  /* Keep map from breaking out of container */
}

footer {
  background-color: #a20202;
  padding: 20px 0;
  color: #fff;
}

footer .btn__scroll-top {
  color: #fff;
}

footer .btn__scroll-top:hover {
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer .footer__social-links-box a {
  color: #a20202;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 50px;
}

footer .footer__social-links-box a:hover {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer .footer__social-links-box .fa {
  display: block;
  font-size: 1.4rem;
}

footer .address-box {
  padding: 0;
}

footer .address {
  margin: 0;
  text-align: right;
  font-size: 0.8rem;
}

@media (max-width: 575px) {
  footer .footer__social-links-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }
  footer .address {
    text-align: center;
  }
}

@font-face {
  font-family: 'Courgette', cursive;
  src: url("../font/Courgette-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
  /* Smooth scrolling behavior */
}

.main-container {
  background-color: #f1f1f1;
}

.title__cursive {
  /* !important to overwrite table size media query style */
  text-decoration: underline;
  font-family: 'Courgette', cursive;
}

.splash__font-size-large {
  /* !important to overwrite table size media query style */
  font-size: 4rem !important;
}

@media (max-width: 575px) {
  .splash__font-size-large {
    font-size: 3rem !important;
  }
}

.splash-info__font-size-medium {
  /* !important to overwrite table size media query style */
  font-size: 1.2rem !important;
}

.sub-title {
  color: #a20202;
  font-size: 2.5rem;
  text-decoration: underline;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #a20202;
}

@media (max-width: 575px) {
  .seperate__mb {
    margin-bottom: 4rem;
  }
}
/*# sourceMappingURL=styles.css.map */