@import "variables.scss";
@import "custom-mixin.scss";
@import "header.scss";
@import "welcome.scss";
@import "gallery.scss";
@import "map.scss";
@import "footer.scss";

// General Styles
html {
    scroll-behavior: smooth; /* Smooth scrolling behavior */
}

// 
.main-container {
    background-color: $grey;
}

.sub-title{
    color: $darkRed;
    font-size: 2.5rem;
    text-decoration: underline;
}

