.jumbotron {
  padding: 30px; }
  .jumbotron .container {
    background-color: pink; }
  .jumbotron .logo__box {
    background-color: lime;
    display: flex;
    justify-content: right;
    align-items: center; }
  .jumbotron .logo {
    max-width: 150px;
    width: 100%; }

.navbar .navbar-nav {
  background-color: yellow; }
